@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

/* Animation classes */
.animate-fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dark {
  color-scheme: dark;
}